body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #36a2eb;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header img {
    width: 50px;
    height: 50px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

.nav img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.loginContainer {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.loginContainer img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.loginContainer input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginContainer button {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px 0;
    background-color: #36a2eb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.loginContainer button:hover {
    background-color: #1a91da;
}

.loginContainer a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}